In [2]:
#Importing the libaries required.
import pandas as pd
import numpy as np

In [6]:
bmidata = pd.read_csv(r"C:\Users\MONISH\OneDrive\Desktop\Git_upload\Machine learning Projects\BMI\BMIPY.csv")
#bmi = pd.read_excel (r'Path where the Excel file is stored\File name.xlsx')

In [93]:
bmidata.head()

   Height M  Weight kg  %Fat    BMI
0      1.60      49.44  23.9  19.31
1      1.65      62.60  28.8  22.96
2      1.65      75.75  32.4  27.79
3      1.53      48.99  25.8  20.92
4      1.45      43.09  22.5  20.38

In [94]:
bmidata.tail()

    Height M  Weight kg  %Fat    BMI
87      1.49      39.01  23.3  17.52
88      1.60      41.28  20.1  16.12
89      1.42      38.10  30.3  18.83
90      1.40      30.16  20.6  15.46
91      1.45      38.56  26.0  18.39

In [95]:
bmidata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Height M   92 non-null     float64
 1   Weight kg  92 non-null     float64
 2   %Fat       92 non-null     float64
 3   BMI        92 non-null     float64
dtypes: float64(4)
memory usage: 3.0 KB

In [96]:
bmidata.index

RangeIndex(start=0, stop=92, step=1)

In [97]:
bmidata.shape

(92, 4)

In [98]:
bmi.describe

<bound method NDFrame.describe of     Height M  Weight kg  %Fat    BMI
0       1.60      49.44  23.9  19.31
1       1.65      62.60  28.8  22.96
2       1.65      75.75  32.4  27.79
3       1.53      48.99  25.8  20.92
4       1.45      43.09  22.5  20.38
..       ...        ...   ...    ...
87      1.49      39.01  23.3  17.52
88      1.60      41.28  20.1  16.12
89      1.42      38.10  30.3  18.83
90      1.40      30.16  20.6  15.46
91      1.45      38.56  26.0  18.39

[92 rows x 4 columns]>

In [99]:
 #Selecting the single row by index number
bmidata.loc[0]

Height M      1.60
Weight kg    49.44
%Fat         23.90
BMI          19.31
Name: 0, dtype: float64

In [100]:
bmidata.loc[25]

Height M      1.57
Weight kg    43.54
%Fat         24.60
BMI          17.70
Name: 25, dtype: float64

In [101]:
# Selecting the multiple rows by index number
bmidata.loc[[2,1,0]]

   Height M  Weight kg  %Fat    BMI
2      1.65      75.75  32.4  27.79
1      1.65      62.60  28.8  22.96
0      1.60      49.44  23.9  19.31

In [106]:
# Selecting the multiple rows by index number
bmidata.loc[[0,1,2]]

   Height M  Weight kg  %Fat    BMI
0      1.60      49.44  23.9  19.31
1      1.65      62.60  28.8  22.96
2      1.65      75.75  32.4  27.79

In [107]:
# Selecting the single row by index
bmidata.iloc[0]

Height M      1.60
Weight kg    49.44
%Fat         23.90
BMI          19.31
Name: 0, dtype: float64

In [108]:
# Selecting the single row by index
bmidata.loc[0]

Height M      1.60
Weight kg    49.44
%Fat         23.90
BMI          19.31
Name: 0, dtype: float64

In [109]:
# Selecting the multiple rows by index
bmidata.iloc[[8,6,2]]

   Height M  Weight kg  %Fat    BMI
8      1.52      47.85  22.8  20.60
6      1.56      47.97  19.6  19.66
2      1.65      75.75  32.4  27.79

In [110]:
# To display multiple rows and specified columns
bmi_mrc = bmi.loc[:,['Weight kg','%Fat','BMI']]
# bmi_mc = bmi[['Weight','%Fat','BMI']]

In [111]:
bmi_mrc.head()

   Weight kg  %Fat    BMI
0      49.44  23.9  19.31
1      62.60  28.8  22.96
2      75.75  32.4  27.79
3      48.99  25.8  20.92
4      43.09  22.5  20.38

In [112]:
bmi_mrc.tail()

    Weight kg  %Fat    BMI
87      39.01  23.3  17.52
88      41.28  20.1  16.12
89      38.10  30.3  18.83
90      30.16  20.6  15.46
91      38.56  26.0  18.39

In [113]:
# Correlation Matrix Of Values
bmidata.corr()

           Height M  Weight kg      %Fat       BMI
Height M   1.000000   0.687894  0.273390  0.429862
Weight kg  0.687894   1.000000  0.780368  0.946975
%Fat       0.273390   0.780368  1.000000  0.862530
BMI        0.429862   0.946975  0.862530  1.000000

In [114]:
Xdf = bmidata.loc[:,'Height M':'%Fat']
Ydf = bmidata['BMI']

In [115]:
Xdf.head()

   Height M  Weight kg  %Fat
0      1.60      49.44  23.9
1      1.65      62.60  28.8
2      1.65      75.75  32.4
3      1.53      48.99  25.8
4      1.45      43.09  22.5

In [116]:
Ydf.head()

0    19.31
1    22.96
2    27.79
3    20.92
4    20.38
Name: BMI, dtype: float64

In [70]:
#!pip install sklearn

In [71]:
# Fitting Linear Regression to the dataset 
from sklearn.linear_model import LinearRegression 
#slr = LinearRegression()

In [118]:
#slr.fit(Xdf, Ydf)

linreg = LinearRegression()
linreg.fit(Xdf, Ydf)

LinearRegression()

In [119]:
#Splitting into test and train dataset using train_test_split
from sklearn.model_selection import train_test_split

In [121]:
X_train, X_test, y_train, y_test = train_test_split(Xdf, Ydf, test_size = 0.2, random_state = 42)

In [122]:
y_pred = linreg.predict(X_test)
print(y_pred)

[17.94329468 17.92766818 25.56526463 19.86361112 19.18270288 16.58529907
 16.09578515 24.02504249 21.15377744 18.45031435 18.12501121 17.74800998
 19.10781841 22.53370891 27.74060172 20.13060872 23.79695677 18.87850109
 20.10509283]

In [123]:
print(linreg.coef_)
print(linreg.intercept_)

[-23.13253634   0.39059514   0.02978248]
36.17193597059446